In [157]:
import pandas as pd

In [158]:
nyc = pd.read_csv('/Users/damoncrockett/images_nyc/nyc_metadata.csv')

In [159]:
la = pd.read_csv('/Users/damoncrockett/images_la/la_metadata.csv')

In [160]:
nyc.filename = "/Users/damoncrockett/images_nyc/"+nyc.filename

In [161]:
la.filename = "/Users/damoncrockett/images_la/"+la.filename

In [162]:
nyc_xtra = pd.read_csv('/Users/damoncrockett/images_nyc_xtra/nyc_xtra_metadata.csv')

In [163]:
la_xtra = pd.read_csv('/Users/damoncrockett/images_la_xtra/la_xtra_metadata.csv')

In [164]:
la_xxtra = pd.read_csv('/Users/damoncrockett/images_la_xxtra/la_xxtra_metadata.csv')

In [165]:
nyc = pd.concat([nyc,nyc_xtra])
la = pd.concat([la,la_xtra,la_xxtra])

In [166]:
nyc.reset_index(drop=True,inplace=True)
la.reset_index(drop=True,inplace=True)

In [167]:
l = pd.DataFrame(nyc.filename.str.split('/',4).tolist(),
                columns = ['a','b','c','d','e'])

In [168]:
nyc.filename = l.e

In [169]:
l = pd.DataFrame(la.filename.str.split('/',4).tolist(),
                columns = ['a','b','c','d','e'])

In [170]:
la.filename = l.e

In [171]:
nyc.drop_duplicates(inplace=True,cols='filename')
la.drop_duplicates(inplace=True,cols='filename')

In [172]:
len(nyc.filename.value_counts())

100003

In [173]:
len(la.filename.value_counts())

107775

In [174]:
nyc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100003 entries, 0 to 109011
Data columns (total 4 columns):
filename    100003 non-null object
hue         100003 non-null float64
sat         100003 non-null float64
val         100003 non-null float64
dtypes: float64(3), object(1)
memory usage: 3.8+ MB

In [175]:
la.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107775 entries, 0 to 121228
Data columns (total 4 columns):
filename    107775 non-null object
hue         107775 non-null float64
sat         107775 non-null float64
val         107775 non-null float64
dtypes: float64(3), object(1)
memory usage: 4.1+ MB

In [176]:
nyc.reset_index(drop=True,inplace=True)
la.reset_index(drop=True,inplace=True)

In [177]:
nyc = nyc[:100000]
la = la[:100000]

In [178]:
len(nyc.filename.value_counts())

100000

In [179]:
len(la.filename.value_counts())

100000

In [180]:
nyc.to_csv('/Users/damoncrockett/images_nyc/nyc_metadata_final.csv',index=False)

In [181]:
la.to_csv('/Users/damoncrockett/images_la/la_metadata_final.csv',index=False)

In [182]:
nyc.head()

              filename       hue       sat       val
0  A-apKAqCcAAGJ66.jpg  0.160359  0.351472  0.913912
1  A-iPK8TCUAAxvut.jpg  0.068535  0.061614  0.671032
2  A-jFBI7CUAEWLYw.jpg  0.189481  0.404010  0.458975
3  A-RR9pDCUAACIie.jpg  0.389928  0.381543  0.510541
4  A0bYSpSCEAAOrz3.jpg  0.278244  0.417752  0.527771

In [183]:
la.head()

              filename       hue       sat       val
0  A--6gTPCcAAz6DN.jpg  0.075406  0.086761  0.275237
1  A-lDsD8CIAAKd-C.jpg  0.002870  0.000074  0.872968
2  A-Lm0PxCAAAigzO.jpg  0.627556  0.204625  0.817564
3  A04AqfOCMAAAbkP.jpg  0.432269  0.263279  0.148018
4  A12OolJCEAEI8HF.jpg  0.139178  0.902838  0.903293