In [2]:
import pandas as pd

In [3]:
d = pd.read_csv('/Users/damoncrockett/tweets_urban_areas.csv')

In [4]:
d.head()

,Unnamed: 0,img_url,size_h,size_w,lat,lon,postedTime,date,dir,urban_areas
0,0,http://pbs.twimg.com/media/BcQ_nuPCEAAUweu.png,300,600,24.581734,-82.107296,2013-12-24T16:58:55.000Z,2013-12-24,2013-12-24/16/,NaN
1,1,http://pbs.twimg.com/media/BcQ_oVeCUAAz0dZ.png,300,600,24.581734,-82.107296,2013-12-24T16:58:58.000Z,2013-12-24,2013-12-24/16/,NaN
2,2,http://pbs.twimg.com/media/BcQJArXCMAA-hsb.png,300,600,24.627600,-82.872800,2013-12-24T13:00:20.000Z,2013-12-24,2013-12-24/13/,NaN
3,3,http://pbs.twimg.com/media/BcQJAZyCUAAS-Lu.png,300,600,24.627600,-82.872800,2013-12-24T13:00:18.000Z,2013-12-24,2013-12-24/13/,NaN
4,4,http://pbs.twimg.com/media/BcBZBO4CUAE5oOr.png,300,600,24.627600,-82.872800,2013-12-21T16:15:58.000Z,2013-12-21,2013-12-21/16/,NaN

In [5]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8955877 entries, 0 to 8955876
Data columns (total 10 columns):
Unnamed: 0     int64
img_url        object
size_h         int64
size_w         int64
lat            float64
lon            float64
postedTime     object
date           object
dir            object
urban_areas    object
dtypes: float64(2), int64(3), object(5)
memory usage: 751.6+ MB

In [3]:
len(d.index[d.urban_areas.notnull()])

5108939

In [3]:
nn = d[d.urban_areas.notnull()]

In [19]:
nn.urban_areas.value_counts().to_csv('/Users/damoncrockett/tweets_urban_areas_nn_table.csv')

In [5]:
ddd = pd.read_csv('/Users/damoncrockett/Dropbox/twitter_data/meata_data/world/lat_lon_2013.csv')

In [6]:
ddd.head()

         lat        lon                postedTime
0  45.047162 -93.067782  2013-08-07T15:40:00.000Z
1  41.168083 -87.662692  2013-08-07T15:40:00.000Z
2  52.588344  13.223725  2013-08-07T15:40:16.000Z
3  34.577805 -94.249611  2013-08-07T15:40:32.000Z
4  48.838616   2.282396  2013-08-07T15:40:32.000Z

In [16]:
rg = pd.read_csv('/Users/damoncrockett/Dropbox/CALIT2DATA/housing_and_ACS/data/random_geo_USA_urban_areas.csv')

In [17]:
rg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
Unnamed: 0      1000000 non-null int64
Unnamed: 0.1    1000000 non-null int64
lat             1000000 non-null float64
lon             1000000 non-null float64
urban_areas     17926 non-null object
dtypes: float64(2), int64(2), object(1)
memory usage: 45.8+ MB

In [18]:
rg.urban_areas.value_counts()

New York--Newark, NY--NJ--CT            571
Chicago, IL--IN                         387
Atlanta, GA                             328
Philadelphia, PA--NJ--DE--MD            322
Boston, MA--NH--RI                      297
Los Angeles--Long Beach--Anaheim, CA    248
Dallas--Fort Worth--Arlington, TX       240
Houston, TX                             226
Washington, DC--VA--MD                  195
Minneapolis--St. Paul, MN--WI           190
Pittsburgh, PA                          178
Tampa--St. Petersburg, FL               174
Miami, FL                               172
Detroit, MI                             150
Seattle, WA                             147
St. Louis, MO--IL                       145
Cincinnati, OH--KY--IN                  133
Providence, RI--MA                      131
Baltimore, MD                           130
San Diego, CA                           127
Cleveland, OH                           125
Phoenix--Mesa, AZ                       124
San Francisco--Oakland, CA              112
Milwaukee, WI                           111
Virginia Beach, VA                      104
Indianapolis, IN                        103
Kansas City, MO--KS                      99
Austin, TX                               98
Nashville-Davidson, TN                   94
Knoxville, TN                            94
                                       ...
Vienna, GA                                1
Dunkirk, IN                               1
Lake View, AL                             1
Taneytown, MD                             1
Ulysses, KS                               1
Crozet, VA                                1
Sweetwater, TN                            1
Frankenmuth, MI                           1
Ionia, MI                                 1
Winnemucca, NV                            1
Virginia, MN                              1
Richfield, UT                             1
Pecan Plantation, TX                      1
Girard, KS                                1
Pittsboro, NC                             1
Cochran, GA                               1
Littlestown, PA                           1
Culpeper, VA                              1
Spearfish, SD                             1
Wytheville, VA                            1
Alma, GA                                  1
Rogersville, TN                           1
Portola, CA                               1
Chetek, WI                                1
Grangeville, ID                           1
Prescott, WI                              1
Staunton, IL                              1
Winnsboro, SC                             1
Ozona, TX                                 1
Sullivan, MO                              1
dtype: int64

In [7]:
nn.urban_areas.value_counts()

Chicago, IL--IN                             602084
Atlanta, GA                                 287253
Detroit, MI                                 231371
Minneapolis--St. Paul, MN--WI               185920
Tampa--St. Petersburg, FL                   178614
Cincinnati, OH--KY--IN                      136016
Milwaukee, WI                               132732
St. Louis, MO--IL                           108676
New Orleans, LA                             103389
Columbus, OH                                 83964
Louisville/Jefferson County, KY--IN          83485
Kansas City, MO--KS                          82197
Nashville-Davidson, TN                       63641
Indianapolis, IN                             54543
Knoxville, TN                                51189
Des Moines, IA                               48650
Lexington-Fayette, KY                        44836
Baton Rouge, LA                              44281
Houston, TX                                  42140
Tallahassee, FL                              36303
Dayton, OH                                   35951
Birmingham, AL                               34674
Sarasota--Bradenton, FL                      34652
Memphis, TN--MS--AR                          32978
Flint, MI                                    31411
Lansing, MI                                  28981
Grand Rapids, MI                             26837
Greenville, SC                               26400
Fayetteville--Springdale--Rogers, AR--MO     26385
Panama City, FL                              25111
                                             ...
Wautoma, WI                                     33
Owensville, MO                                  33
Iron River, MI                                  33
Lucedale, MS                                    32
Mount Pleasant, TN                              32
Buffalo, MO                                     32
Coeburn, VA                                     31
Vivian, LA                                      31
Havana, FL                                      31
Newaygo, MI                                     31
Haleyville, AL                                  31
Carrollton, MO                                  30
Elmwood, IL                                     29
Trenton, FL                                     28
El Dorado Springs, MO                           28
Sparta, GA                                      27
Ladysmith, WI                                   26
Mazomanie, WI                                   24
Woodville, FL                                   22
Moorhead, MS                                    21
Delphi, IN                                      21
Durant, MS                                      20
Steeleville, IL                                 20
Ridge Manor, FL                                 18
Leesburg--Eustis--Tavares, FL                   15
Chattahoochee, FL                               13
Glennville, GA                                   9
Stanley, WI                                      8
Jacksonville, FL                                 3
Charleston, WV                                   1
dtype: int64

In [4]:
chi = nn[nn.urban_areas=='Chicago, IL--IN']

In [5]:
atl = nn[nn.urban_areas=='Atlanta, GA']

In [12]:
nn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5108939 entries, 46 to 8955679
Data columns (total 10 columns):
Unnamed: 0     int64
img_url        object
size_h         int64
size_w         int64
lat            float64
lon            float64
postedTime     object
date           object
dir            object
urban_areas    object
dtypes: float64(2), int64(3), object(5)
memory usage: 428.8+ MB

In [6]:
chi = chi[['img_url','dir','urban_areas','date']]
atl = atl[['img_url','dir','urban_areas','date']]

In [7]:
chi.reset_index(drop=True,inplace=True)
atl.reset_index(drop=True,inplace=True)

In [8]:
from dateutil import parser

In [9]:
chi.date = chi.date.apply(parser.parse)

In [10]:
atl.date = atl.date.apply(parser.parse)

In [11]:
import datetime

In [12]:
DATE_INIT = datetime.date(2013,6,1)

In [13]:
chi.sort('date',inplace=True)
atl.sort('date',inplace=True)

In [15]:
CHI = chi[chi.date >= DATE_INIT][:100000]

In [16]:
ATL = atl[atl.date >= DATE_INIT][:100000]

In [17]:
CHI.reset_index(drop=True,inplace=True)
ATL.reset_index(drop=True,inplace=True)

In [18]:
l = pd.DataFrame(chi.img_url.str.split('/',4).tolist(),
                columns = ['a','b','c','d','e'])

In [19]:
PREFIX = "/data/myazdani/images/2013/"

In [21]:
n = len(CHI.index)
image_path = []

for i in range(n):
    image_path_i = PREFIX + CHI['dir'].loc[i] + l['e'].loc[i]
    image_path.append(image_path_i)

In [23]:
CHI['image_path'] = image_path

In [25]:
l = pd.DataFrame(atl.img_url.str.split('/',4).tolist(),
                columns = ['a','b','c','d','e'])

In [26]:
n = len(ATL.index)
image_path = []

for i in range(n):
    image_path_i = PREFIX + ATL['dir'].loc[i] + l['e'].loc[i]
    image_path.append(image_path_i)

In [27]:
ATL['image_path'] = image_path

In [28]:
ATL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 5 columns):
img_url        100000 non-null object
dir            100000 non-null object
urban_areas    100000 non-null object
date           100000 non-null datetime64[ns]
image_path     100000 non-null object
dtypes: datetime64[ns](1), object(4)
memory usage: 4.6+ MB

In [29]:
CHI = CHI[['urban_areas','image_path','date']]
ATL = ATL[['urban_areas','image_path','date']]

In [30]:
CHI.to_csv('/Users/damoncrockett/tweets_chi.csv',index=False)
ATL.to_csv('/Users/damoncrockett/tweets_atl.csv',index=False)