In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/data/damoncrockett/2011/output_2011.csv')

In [4]:
del df['Unnamed: 0']

In [5]:
df.head()

,_id,actor,geo,location,postedTime,twitter_entities
0,53dbe4d7ad128774638cb9d5,"{u'friendsCount': 23, u'favoritesCount': 1, u'...","{u'coordinates': [13.818722, 100.621402]}",NaN,2011-10-06T08:12:28.000Z,{u'media': [{u'media_url': u'http://p.twimg.co...
1,53dbe4d6ad128774638cb626,"{u'friendsCount': 95, u'favoritesCount': 1999,...","{u'coordinates': [40.21968323, -74.75245982]}","{u'name': u'Trenton', u'country_code': u'Unite...",2011-10-06T11:22:35.000Z,{u'media': [{u'media_url': u'http://p.twimg.co...
2,53dbe4d6ad128774638cb62e,"{u'friendsCount': 43, u'favoritesCount': 8, u'...","{u'coordinates': [37.004502, 127.227532]}",NaN,2011-10-06T11:23:40.000Z,{u'media': [{u'media_url': u'http://p.twimg.co...
3,53dbe4d6ad128774638cb62f,"{u'friendsCount': 717, u'favoritesCount': 7, u...","{u'coordinates': [62.03440544, 129.72807488]}",{u'name': u'\u042f\u043a\u0443\u0442\u0441\u04...,2011-10-06T11:23:41.000Z,{u'media': [{u'media_url': u'http://p.twimg.co...
4,53dbe4d6ad128774638cb637,"{u'friendsCount': 373, u'favoritesCount': 1181...","{u'coordinates': [36.315321, -119.33635]}","{u'name': u'Visalia', u'country_code': u'Unite...",2011-10-06T11:24:21.000Z,{u'media': [{u'media_url': u'http://p.twimg.co...

In [6]:
type(df.actor.loc[0])

str

In [7]:
df.location.loc[1]

"{u'name': u'Trenton', u'country_code': u'United States'}"

In [8]:
tmp = df[['location']]

In [9]:
tmp = tmp[tmp.location.notnull()]

In [10]:
tmp.head()

                                            location
1  {u'name': u'Trenton', u'country_code': u'Unite...
3  {u'name': u'\u042f\u043a\u0443\u0442\u0441\u04...
4  {u'name': u'Visalia', u'country_code': u'Unite...
5    {u'name': u'Madrid', u'country_code': u'Spain'}
6    {u'name': u'Madrid', u'country_code': u'Spain'}

In [11]:
tmp.location.loc[1]

"{u'name': u'Trenton', u'country_code': u'United States'}"

In [13]:
tmp.location.loc[1][1]

'u'