In [1]:
import pandas as pd

In [2]:
df_2011 = pd.read_csv('/data/damoncrockett/2011/output_2011.csv')

In [3]:
megacities = pd.read_table('/data/damoncrockett/megacities.txt',header=False,sep='\t')

In [4]:
df_2012 = pd.read_csv('/data/damoncrockett/twitter_metadata_2012.csv')

In [5]:
megacities.head()

   Rank   Megacity                   Country  Continent   Population
0      1     Tokyo               Japan Japan       Asia   37,900,000
1      2   Jakarta       Indonesia Indonesia       Asia   30,326,103
2      3     Delhi               India India       Asia   26,400,000
3      4     Seoul   South Korea South Korea       Asia   26,100,000
4      5  Shanghai               China China       Asia   25,400,000

In [7]:
megacities.columns

Index([u'Rank ', u'Megacity ', u'Country ', u'Continent ', u'Population'], dtype='object')

In [9]:
cities = list(megacities['Megacity '])

In [12]:
cities = [city.rstrip(" ") for city in cities]

In [20]:
loc_2011 = df_2011[['location']]

In [21]:
loc_2012 = df_2012[['location']]

In [22]:
loc_2011 = loc_2011[loc_2011.location.notnull()]

In [23]:
loc_2012 = loc_2012[loc_2012.location.notnull()]

In [24]:
loc_2011_mega = loc_2011[loc_2011.location.isin(cities)]

In [25]:
loc_2012_mega = loc_2012[loc_2012.location.isin(cities)]

In [26]:
loc_2011_mega.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60529 entries, 40 to 2030781
Data columns (total 1 columns):
location    60529 non-null object
dtypes: object(1)
memory usage: 945.8+ KB

In [27]:
loc_2012_mega.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 636259 entries, 74 to 30479914
Data columns (total 1 columns):
location    636259 non-null object
dtypes: object(1)
memory usage: 9.7+ MB

In [28]:
import numpy as np

In [32]:
eleven = loc_2011_mega.groupby('location').agg(min)

In [33]:
eleven['count'] = loc_2011_mega.groupby('location').size()

In [34]:
eleven

                count
location
Buenos Aires        1
Cairo               2
Delhi              69
Lagos              23
London            160
Los Angeles     15818
Manila              1
Moscow          29927
Osaka             276
Paris            7871
Rio de Janeiro   6319
Shanghai            1
Tokyo              61

In [35]:
twelve = loc_2012_mega.groupby('location').agg(min)

In [36]:
twelve['count'] = loc_2012_mega.groupby('location').size()

In [37]:
twelve

                 count
location
Buenos Aires        10
Cairo              253
Delhi             1077
Lagos              652
London            2267
Los Angeles     169725
Manila              48
Moscow          297851
Osaka             1447
Paris            96577
Rio de Janeiro   65429
Shanghai            33
Tokyo              890

In [38]:
eleven

                count
location
Buenos Aires        1
Cairo               2
Delhi              69
Lagos              23
London            160
Los Angeles     15818
Manila              1
Moscow          29927
Osaka             276
Paris            7871
Rio de Janeiro   6319
Shanghai            1
Tokyo              61

In [39]:
twelve

                 count
location
Buenos Aires        10
Cairo              253
Delhi             1077
Lagos              652
London            2267
Los Angeles     169725
Manila              48
Moscow          297851
Osaka             1447
Paris            96577
Rio de Janeiro   65429
Shanghai            33
Tokyo              890

In [40]:
df_2011.location.value_counts()

Moscow                  29927
Turkey                  29482
Manhattan               25166
Brasil                  18336
Los Angeles             15818
Madrid                  14203
Chicago                 11299
São Paulo               10300
New York                 9980
Russia                   9609
Toronto                  8912
Westminster              8115
Paris                    7871
Georgia                  7664
Greater Vancouver        7310
Washington               7236
Johore                   7211
Saint Petersburg         6948
Philadelphia             6948
Barcelona                6798
Johor Bahru              6546
Rio de Janeiro           6319
Stockholm                6165
Florida                  6063
Texas                    5800
Rome                     5548
Boston                   5504
Manchester               5374
Houston                  5366
Greece                   5232
                        ...
Longobucco                  1
Fourth                      1
Itaobim                     1
Sales de Llierca            1
Barat Daya                  1
Arlewatt                    1
Baunatal                    1
Cardè                       1
Osoppo                      1
Nordstemmen                 1
Authevernes                 1
Higuera de la Sierra        1
Parangloe                   1
Strawberry Plains           1
Big Horn Central            1
Porschdorf                  1
Corral de Calatrava         1
San Vincenzo                1
Mardor                      1
Gata de Gorgos              1
Ruda Śląska                 1
Glen Rose                   1
Mendexa                     1
Rockaway Beach              1
Weiz                        1
Cavriglia                   1
Valmeinier                  1
Teja                        1
Alaminos                    1
Sanchonuño                  1
dtype: int64

In [41]:
df_2012.location.value_counts()

Turkey                        741908
Chile                         317019
Moscow                        297851
Manhattan                     202711
Madrid                        200263
Los Angeles                   169725
Chicago                       122881
Ukraine                       113358
New York                      109995
Georgia                       102344
Paris                          96577
São Paulo                      93941
Türkiye                        89403
Brasil                         87837
Texas                          86829
Toronto                        85256
Saint Petersburg               81204
Florida                        79998
Washington                     78769
Westminster                    78725
Barcelona                      77942
Johor Bahru                    73286
Houston                        73112
Ohio                           68549
Greece                         67621
Philadelphia                   66559
Rio de Janeiro                 65429
Boston                         63246
South Carolina                 59378
Seville                        58541
                               ...
Saint-Vincent-des-Bois             1
Saron-sur-Aube                     1
Darling Springs                    1
Causse-de-la-Selle                 1
Héhalom                            1
Dar Bni Karrich                    1
Poullaouen                         1
Mound Valley                       1
Rohrbach in Oberösterreich         1
Airon-Notre-Dame                   1
Gryficki                           1
日南町（日野郡）                           1
Vézeronce-Curtin                   1
Saint-Barnabé                      1
Kinmundy                           1
Villemareuil                       1
Central de Minas                   1
Jedlicze                           1
Chequilla                          1
Calès                              1
Szamosszeg                         1
Ljudinovskij Rajon                 1
Uptown Espresso & Bakery           1
Sonntagberg                        1
Schmiedrued                        1
Bannost-Villegagnon                1
Parzac                             1
GB5, Universität Dortmund          1
Villanova Canavese                 1
Mas-de-Londres                     1
dtype: int64