In [23]:
import pandas as pd

In [24]:
d = pd.read_csv('/Users/damoncrockett/Dropbox/TwitterPaper/data/tweet-aggregates/city_diurnal_entropies.csv')

In [25]:
f = pd.read_csv('/Users/damoncrockett/Dropbox/TwitterPaper/data/tweet-aggregates/city_diurnal_faces_entropies.csv')

In [26]:
c = pd.read_csv('/Users/damoncrockett/Dropbox/TwitterPaper/data/tweet-aggregates/city_faces.csv')

In [27]:
d.head()

,city,Hbin.00,Hbin.01,Hbin.02,Hbin.03,Hbin.04,Hbin.05,Hbin.06,Hbin.07,Hbin.08,Hbin.09,Hbin.10,Hbin.11,Hbin.12
0,Albuquerque,3.174536,3.171143,3.171114,3.146463,3.129780,3.096393,3.120589,3.154328,3.161968,3.168162,3.106396,3.143148,3.167260
1,Anaheim,3.174619,3.175742,3.176269,3.173975,3.162000,3.151678,3.134024,3.167103,3.167316,3.163736,3.130400,3.127004,3.173246
2,Arlington,3.172951,3.174830,3.174406,3.168256,3.158945,3.096553,3.119399,3.155882,3.161463,3.173123,3.075926,3.067374,3.158433
3,Atlanta,3.172983,3.176935,3.172080,3.170836,3.158604,3.153193,3.147617,3.160579,3.170185,3.169157,3.142176,3.125326,3.170875
4,Aurora,3.174699,3.165535,3.171735,3.155303,3.112670,2.992058,3.102133,3.145212,3.165323,3.148118,3.096863,3.096600,3.136596

In [28]:
f.head()

,city,face.present.rate.alt,face.present.rate.alt.tree,solo.face.rate.alt,solo.face.rate.alt.tree,social.face.rate.alt,social.face.rate.alt.tree
0,Albuquerque,3.169897,3.164847,3.169272,3.161659,3.160861,3.043590
1,Anaheim,3.169842,3.157666,3.170060,3.154757,3.158872,3.116330
2,Arlington,3.156169,3.147431,3.157859,3.144824,3.130618,3.060159
3,Atlanta,3.166536,3.163539,3.166684,3.160951,3.158816,3.139089
4,Aurora,3.171854,3.144805,3.171397,3.149554,3.132546,2.970547

In [29]:
c.head()

,city,num.rows,num.faces.alt,face.present.alt,num.people.social.faces.alt,solo.face.alt,social.face.alt,num.faces.alt.tree,face.present.alt.tree,solo.face.alt.tree,social.face.alt.tree,num.people.social.faces.alt.tree,bin.0.count,num.unique.images,num.unique.face.images.alt,num.unique.face.images.alt.tree
0,Albuquerque,40291,10250,8234,3510,6740,1494,1685,1582,1490,92,195,11668,39845,8139,1558
1,Anaheim,96452,25434,19347,10710,14724,4623,4265,3890,3572,318,693,24992,95855,19232,3873
2,Arlington,132146,26426,20170,11008,15418,4752,4416,4027,3672,355,744,28612,69496,10747,2142
3,Atlanta,98322,23390,17871,9753,13637,4234,3535,3197,2898,299,637,25321,97431,17684,3157
4,Aurora,22048,5801,4609,2056,3745,864,999,901,827,74,172,6843,21675,4531,879

In [30]:
f.set_index('city',inplace=True)
c.set_index('city',inplace=True)

In [31]:
d = d.join(f,on='city')

In [32]:
d = d.join(c,on='city')

In [33]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 59
Data columns (total 35 columns):
city                                60 non-null object
Hbin.00                             60 non-null float64
Hbin.01                             60 non-null float64
Hbin.02                             60 non-null float64
Hbin.03                             60 non-null float64
Hbin.04                             60 non-null float64
Hbin.05                             60 non-null float64
Hbin.06                             60 non-null float64
Hbin.07                             60 non-null float64
Hbin.08                             60 non-null float64
Hbin.09                             60 non-null float64
Hbin.10                             60 non-null float64
Hbin.11                             60 non-null float64
Hbin.12                             60 non-null float64
face.present.rate.alt               60 non-null float64
face.present.rate.alt.tree          60 non-null float64
solo.face.rate.alt                  60 non-null float64
solo.face.rate.alt.tree             60 non-null float64
social.face.rate.alt                60 non-null float64
social.face.rate.alt.tree           60 non-null float64
num.rows                            60 non-null int64
num.faces.alt                       60 non-null int64
face.present.alt                    60 non-null int64
num.people.social.faces.alt         60 non-null int64
solo.face.alt                       60 non-null int64
social.face.alt                     60 non-null int64
num.faces.alt.tree                  60 non-null int64
face.present.alt.tree               60 non-null int64
solo.face.alt.tree                  60 non-null int64
social.face.alt.tree                60 non-null int64
num.people.social.faces.alt.tree    60 non-null int64
bin.0.count                         60 non-null int64
num.unique.images                   60 non-null int64
num.unique.face.images.alt          60 non-null int64
num.unique.face.images.alt.tree     60 non-null int64
dtypes: float64(19), int64(15), object(1)
memory usage: 16.9+ KB

In [34]:
d.drop(['face.present.rate.alt.tree',
            'solo.face.rate.alt.tree',
            'social.face.rate.alt.tree',
            'num.faces.alt.tree',
            'face.present.alt.tree',
            'solo.face.alt.tree',
            'social.face.alt.tree',
            'num.people.social.faces.alt.tree',
            'num.unique.face.images.alt.tree'],axis=1,inplace=True)

In [35]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 0 to 59
Data columns (total 26 columns):
city                           60 non-null object
Hbin.00                        60 non-null float64
Hbin.01                        60 non-null float64
Hbin.02                        60 non-null float64
Hbin.03                        60 non-null float64
Hbin.04                        60 non-null float64
Hbin.05                        60 non-null float64
Hbin.06                        60 non-null float64
Hbin.07                        60 non-null float64
Hbin.08                        60 non-null float64
Hbin.09                        60 non-null float64
Hbin.10                        60 non-null float64
Hbin.11                        60 non-null float64
Hbin.12                        60 non-null float64
face.present.rate.alt          60 non-null float64
solo.face.rate.alt             60 non-null float64
social.face.rate.alt           60 non-null float64
num.rows                       60 non-null int64
num.faces.alt                  60 non-null int64
face.present.alt               60 non-null int64
num.people.social.faces.alt    60 non-null int64
solo.face.alt                  60 non-null int64
social.face.alt                60 non-null int64
bin.0.count                    60 non-null int64
num.unique.images              60 non-null int64
num.unique.face.images.alt     60 non-null int64
dtypes: float64(16), int64(9), object(1)
memory usage: 12.7+ KB

In [36]:
del d['bin.0.count']

In [37]:
d.iloc[:,17:].head()

,num.rows,num.faces.alt,face.present.alt,num.people.social.faces.alt,solo.face.alt,social.face.alt,num.unique.images,num.unique.face.images.alt
0,40291,10250,8234,3510,6740,1494,39845,8139
1,96452,25434,19347,10710,14724,4623,95855,19232
2,132146,26426,20170,11008,15418,4752,69496,10747
3,98322,23390,17871,9753,13637,4234,97431,17684
4,22048,5801,4609,2056,3745,864,21675,4531

In [38]:
def norm(x):
    return x/d['num.rows']

In [39]:
d.iloc[:,18:] = d.iloc[:,18:].apply(norm,axis=0)

In [40]:
del d['num.rows']

In [41]:
d.rename(columns={'city':'RegionName'},inplace=True)

In [42]:
d.RegionName.loc[53] = 'Saint Louis'

In [43]:
d.to_csv('/Users/damoncrockett/Desktop/twitter_regressors.csv',index=False)