In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/data/damoncrockett/2013_id_actor_WHOLE.csv')

In [3]:
tmp = df[:10]

In [4]:
tmp

                        _id                                  actor
0  53dc4340ad12874a4a91ebd1   {u'id': u'id:twitter.com:258583581'}
1  53dc4340ad12874a4a91ebd2   {u'id': u'id:twitter.com:220796708'}
2  53dc4340ad12874a4a91ebd3   {u'id': u'id:twitter.com:212518723'}
3  53dc4340ad12874a4a91ebd4   {u'id': u'id:twitter.com:767641584'}
4  53dc4340ad12874a4a91ebd5   {u'id': u'id:twitter.com:377702853'}
5  53dc4340ad12874a4a91ebd6   {u'id': u'id:twitter.com:372784422'}
6  53dc4340ad12874a4a91ebd7  {u'id': u'id:twitter.com:1085370204'}
7  53dc4340ad12874a4a91ebd8   {u'id': u'id:twitter.com:143810454'}
8  53dc4340ad12874a4a91ebd9   {u'id': u'id:twitter.com:630840838'}
9  53dc4340ad12874a4a91ebda   {u'id': u'id:twitter.com:368446882'}

In [6]:
tmp.actor = tmp.actor.map(lambda x: x.lstrip("{u'id': u'id:twitter.com:").rstrip("'}"))

/usr/local/lib/python2.7/dist-packages/pandas/core/generic.py:2110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [7]:
tmp

                        _id       actor
0  53dc4340ad12874a4a91ebd1   258583581
1  53dc4340ad12874a4a91ebd2   220796708
2  53dc4340ad12874a4a91ebd3   212518723
3  53dc4340ad12874a4a91ebd4   767641584
4  53dc4340ad12874a4a91ebd5   377702853
5  53dc4340ad12874a4a91ebd6   372784422
6  53dc4340ad12874a4a91ebd7  1085370204
7  53dc4340ad12874a4a91ebd8   143810454
8  53dc4340ad12874a4a91ebd9   630840838
9  53dc4340ad12874a4a91ebda   368446882

In [8]:
df.actor = df.actor.map(lambda x: x.lstrip("{u'id': u'id:twitter.com:").rstrip("'}"))

In [10]:
df.head(4)

                        _id      actor
0  53dc4340ad12874a4a91ebd1  258583581
1  53dc4340ad12874a4a91ebd2  220796708
2  53dc4340ad12874a4a91ebd3  212518723
3  53dc4340ad12874a4a91ebd4  767641584

In [11]:
t = pd.read_csv('/data/damoncrockett/US_HSV_modes_top60_cities_weather.csv')

/usr/local/lib/python2.7/dist-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [12]:
t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7588558 entries, 0 to 7588557
Data columns (total 27 columns):
image.path    object
filename      object
img_url       object
size_h        int64
size_w        int64
lat           float64
lon           float64
postedTime    object
mongo_id      object
location      object
R.mode        int64
G.mode        int64
B.mode        int64
R.entropy     float64
G.entropy     float64
B.entropy     float64
city          object
H.mode        int64
S.mode        int64
V.mode        int64
hour          int64
local_date    object
temp          float64
humidity      object
wind          float64
rain          float64
sky           float64
dtypes: float64(9), int64(9), object(9)
memory usage: 1.6+ GB

In [13]:
df.rename(columns={'_id':'mongo_id'},inplace=True)

In [14]:
df.set_index('mongo_id',inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 117022828 entries, 53dc4340ad12874a4a91ebd1 to 53dced8dad12874a4a8b8c44
Data columns (total 1 columns):
actor    object
dtypes: object(1)
memory usage: 1.7+ GB

In [16]:
df.head()

                              actor
mongo_id
53dc4340ad12874a4a91ebd1  258583581
53dc4340ad12874a4a91ebd2  220796708
53dc4340ad12874a4a91ebd3  212518723
53dc4340ad12874a4a91ebd4  767641584
53dc4340ad12874a4a91ebd5  377702853

In [17]:
t = t.join(df,on='mongo_id')
t.to_csv('/data/damoncrockett/US_HSV_modes_top60_cities_weather_user.csv',index=False)

In [19]:
len(t.index[t.actor.isnull()])

0

In [20]:
len(t.index[t.actor.notnull()])

7588558

In [22]:
len(t.actor.value_counts())

982810