In [1]:
import pandas as pd

In [2]:
d = pd.read_csv('/Users/damoncrockett/Dropbox/CALIT2DATA/Benchmark/data/sample30K.csv')

In [26]:
d.head()

,filename.path,H1,H2,H3,H4,H5,H6,H7,H8,H9,...,V247,V248,V249,V250,V251,V252,V253,V254,V255,V256
0,/data/myazdani/images/2013/2013-02-12/22/A72nv...,57123,3978,7516,6556,8128,5339,2323,760,544,...,0,0,2,1,0,0,1,0,2,19
1,/data/myazdani/images/2013/2013-01-06/00/A_3IZ...,7408,2327,3805,5989,4876,8468,6028,4613,11143,...,389,361,361,382,435,449,557,726,766,786
2,/data/myazdani/images/2013/2013-08-27/06/A_tOL...,199300,11024,7285,5649,6719,12180,13184,7593,15547,...,757,604,584,574,458,394,346,276,214,549
3,/data/myazdani/images/2013/2013-04-24/04/A_zqQ...,8240,2091,2459,3062,3833,6646,6835,3655,7564,...,278,277,303,266,267,278,303,280,295,911
4,/data/myazdani/images/2013/2013-01-24/00/A_zqQ...,8240,2091,2459,3062,3833,6646,6835,3655,7564,...,278,277,303,266,267,278,303,280,295,911

In [12]:
#from IPython.display import HTML
#HTML(pd.DataFrame(d.columns).to_html())

In [12]:
hue = d.iloc[:,1:181]

In [13]:
def infinity_norm(x):
    return x/x.max()

In [14]:
def one_norm(x):
    return x/sum(x)

In [15]:
%timeit hue.apply(infinity_norm,axis=1)

1 loops, best of 3: 7.98 s per loop

In [16]:
%timeit hue.apply(one_norm,axis=1)

1 loops, best of 3: 6.36 s per loop

In [6]:
%prun -l 4 hue.apply(one_norm,axis=1)